.header-box {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    width: 50%;
    background-color: #f8f9fa;
}

.navbar-custom {
    background-color: #343a40;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.navbutton {
    display: flex;
}

.filterImg {
    margin-right: 0.5rem;
}

#filterButton {
    position: relative;
}

#filterMenu {
    position: absolute;
    top: 100%; /* Position below the button */
    left: 5%; /* Aligns with the left edge of the button */
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

#filterMenu h5 {
    margin: 0 0 0.5rem 0;
    padding-left: 1rem;
    text-decoration: underline;
}

#filterMenu a.dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
}

#filterMenu li {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#filterMenu input[type="radio"] {
    margin-right: 0.5rem;
}

.product-card {
    border: 2px solid #ddd; /* Thicker border */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    min-height: 500px; /* Increased height for more content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    max-height: 200px; /* Ensure images fit within the card */
    object-fit: cover;
}

.product-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 10px;
}

.product-card .btn {
    margin-top: auto; /* Push button to the bottom */
}

.checkoutListImg {
    max-width: 100%;
    height: auto;
    width: 50%;
    margin-left: 30%;
}

.btn-danger { 
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover { 
    background-color: #e75e6b;
    border-color: #ff0019; 
}

.checkoutItemsRow {
    align-items: center;
}

.informationHeading {
    margin-top: 5%;
}

.checkoutButton {
    margin-bottom: 5%;
}