<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="static/css/styles.css">

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <title>MDX Lessons</title>
</head>
<body>
    
    <div id="webstore">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="navbar-brand d-flex align-items-center">
                <a class="mr-3" href="#">My Store</a>
                <button class="btn btn-primary navbutton" @click="toggleFilterMenu">
                    <span class="bi bi-filter-circle"> Filters</span>
                </button>
                <div id="filterMenu" v-show="filterMenuVisible">
                    <a class="dropdown-item" href="#">Filter 1</a>
                    <a class="dropdown-item" href="#">Filter 2</a>
                    <a class="dropdown-item" href="#">Filter 3</a>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-primary" @click="showCheckout" :disabled="itemInCart == ''">
                            {{ itemInCart }} <span class="fa-solid fa-cart-plus"></span> Checkout
                        </button>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Header Box -->
        <div class="header-box">
            <h1>{{ message }}</h1>
        </div>

        <main class="container mt-5">

            <div v-if="showProduct">
                <div class="row">
                    <div class="col-md-4" v-for="product in sortedProducts" :key="product.id">
                        <div class="product-card">

                            <figure>
                                <img :src="product.image" alt="Product Image" class="img-fluid">
                            </figure>

                            <h2>{{ product.subject }}</h2>
                            <p>{{ product.location }}</p>
                            <p>Price: Rs{{ product.price }}</p>

                            <button class="btn btn-primary" @click="addToCart(product)" :disabled="!canAddToCart(product)">Add to cart</button>

                            <span v-if="product.spaces === cartCount(product.id)">Class Full</span>
                            <span v-else-if="product.spaces - cartCount(product.id) < 5">
                                Only {{ product.spaces - cartCount(product.id) }} Spaces Left!
                            </span>
                            <span v-else> {{ product.spaces }} Spaces left</span>

                            <div>
                                <span v-for="n in product.rating">★</span>
                                <span v-for="n in 5 - product.rating">☆</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Checkout Page -->
            <div v-else>
                <h1>Welcome to the Check Out Page</h1>
                <h2>Enter your Information</h2>
                
                <p>
                    <strong>First Name:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model.trim="order.firstName"/>
                </p>

                <p>
                    <strong>Last Name:</strong>
                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                    <input v-model.trim="order.lastName"/>
                </p>

                <p>
                    <strong>Address:</strong>
                    <!-- This input field is bound to 'address' in the 'order' object -->
                    <input v-model.trim="order.address"/>
                </p>

                <p>
                    <strong>City:</strong>
                    <!-- This input field is bound to 'city' in the 'order' object -->
                    <input v-model.trim="order.city"/>
                </p>

                <p>
                    <strong>State:</strong>
                    <!-- This state field is bound to 'state' in the 'order' object -->
                    <select v-model="order.state">
                        <option disabled value="">State</option>
                        <option v-for="(state, key) in states"
                            v-bind:value="state">
                            {{key}}
                        </option>
                    </select>
                </p>

                <p>
                    <strong>Zip/Postal Code:</strong>
                    <!-- This input field is bound to 'zip' in the 'order' object -->
                    <input v-model.number="order.zip"/>
                </p>

                <p>
                    <input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift"
                    v-bind:false-value="order.dontSendGift">

                    <label for="gift">Ship As Gift?</label>
                </p>

                <p>
                    <input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label>
                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p>
                
                <!-- Display order information -->
                <h2>Order Information</h2>

                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Zip: {{order.zip}}</p>
                <p>State: {{order.state}}</p>
                <p>Method: {{order.method}}</p>
                <p>Gift? {{order.gift}}</p>
                
                <!-- Submit button for user to confirm order -->
                <button v-on:click="submitForm">Place Order</button>

            </div>

        </main>

    </div>

    <!-- Vue and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="js/products.js"></script>
    <script src="js/vueApp.js"></script>

</body>
</html>